<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Orbitron:wght@400;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/" id="techblog">Tech Blog</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <a href="/dashboard" id="techblog">dashboard</a>
          <button id="logout" class="btn-no-style">logout</button>
          {{else}}
          <a href="/login" id="techblog">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for blogging with us!
      </footer>
    </div>

  </body>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</html>